/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Assignment 1 Styles
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

 body {
 	text-align: center;
 	font-family: 'Open Sans Condensed', sans-serif;
 	font-size: 25px;
 }

 section {
 	margin: 0 auto;
	margin-top: 50px;
 	width: 40%;
 	height: 460px;
 	background-color: #90caf9;
 	border: 2.5px solid black;
 	border-radius: 50px;
 	box-shadow: 0 10px 12px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.4);
 }

 section:hover {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
 }

h1 {
	padding-top: 25px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
}

input:focus,
input:hover {
	outline: none;
	border-bottom: 2.5px solid black;
}

select:focus,
select:hover {
	outline: none;
	border: 2.5px solid black;
}

input,
select {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid black;
	margin: 0px 10px 10px;
	width: 225px;
	background-color: #90caf9;
}

select {
	border-top: 1px solid black;
}

button {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: black;
	background-color: white;
	padding: 4px 25px;
	border: 2px solid black;
	border-radius: 24px;
}

button:hover {
	opacity: 1;
	color: black;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.15);
	font-weight: bold;
}

button:focus {
	outline: none;
}